*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.more-info{
    visibility: hidden;
}

