*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    background: lightcoral;
}

.box2{
    background: lightblue;
}

.box3{
    background: lightgreen;
}

.box4{
    background: lemonchiffon;
}



main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    column-gap: 5px;
    row-gap: 5px;
    
}

.game-container{
    position: relative;
    display: block;
    
}

main img{
    width: 100%;
    height: auto;
}






